body {
    padding-top: 50px;
    background-color: rgb(246, 246, 246);
}

thead {
    background-color: rgb(240, 240, 240);
}

tbody {
    background-color: rgb(252, 252, 252);
}

td {
    font-size: 14px;
}

/* To adjust the table row height. */
tr {
    line-height: 26px;
    min-height: 26px;
    height: 26px;
 }

/* To remove erroneous underline between sort icons */
a {
    text-decoration: none;
}

 /* To adjust the height of the input fields that appear in the table rows when
    a books details are to be updated. */
 .form-control-sm {
    line-height: 24px;
    min-height: 24px;
    height: 24px;
 }

.grey-text {
    color: rgb(192, 192, 192);
}

.status-button {
    width: 68px;
}

.table-button {
    font-size: 13px;
}
