{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}Books{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

    <div class="container">
        <div class="row">
            <div class="col">

                <!-- Form to create a new book -->

                {% include "partial_create_book_form.html" %}

                <!-- Table of books -->

                <table class="table table-bordered table-sm mt-5">

                    <thead>
                        <tr>
                            <!-- Table column headings -->

                            <!-- Book title heading  -->
                            <th scope="col" style="width: 30%" class="text-center">
                                <small>
                                    Book Title
                                    <!-- Arrow icon, sort ascending -->
                                    <a href=""
                                       hx-get="{% url 'book_list_sort_title' direction='ascend' %}"
                                       hx-target="#book-list"
                                       hx-swap="innerHTML" >
                                        <i class="table-icon bi bi-arrow-down-square ms-2"></i>
                                    </a>
                                    <!-- Arrow icon, sort descending -->
                                    <a href=""
                                       hx-get="{% url 'book_list_sort_title' direction='descend' %}"
                                       hx-target="#book-list"
                                       hx-swap="innerHTML" >
                                        <i class="table-icon bi bi-arrow-up-square"></i>
                                    </a>
                                </small>
                            </th>

                            <!-- Book author heading  -->
                            <th scope="col" style="width: 30%" class="text-center">
                                <small>
                                    Author
                                </small>
                            </th>

                            <!-- Book price heading  -->
                            <th scope="col" style="width: 12%" class="text-center">
                                <small>
                                    Price
                                </small>
                            </th>

                            <!-- Book status heading  -->
                            <th scope="col" style="width: 14%" class="text-center">
                                <small>
                                    Status
                                </small>
                            </th>

                            <!-- Action buttons heading  -->
                            <th scope="col" style="width: 14%" class="text-center">
                                <small>
                                    Actions
                                </small>
                            </th>

                        </tr>
                    </thead>

                    <!-- CSS id provided so as to be targeted by the arrow icons for sorting -->
                    <tbody id="book-list">
                        {% include "partial_book_list.html" %}
                    </tbody>

                </table>

            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>

    <!-- The script below resets the input fields in the create book form when the
         form is submitted. Without this script the input fields would continue to
         contain the previous input. Here, 'input.title' matches the class name of
         the input field. -->
    <script>
        document.body.addEventListener('htmx:afterRequest', (event) => {
            document.querySelector('input.title').value = '';
            document.querySelector('input.author').value = '';
            document.querySelector('input.price').value = '';
        });
    </script>

  </body>
</html>