<tr class="{% if book.read %}text-muted{% endif %}">

    <td>{{ book.title }}</td>
    <td>{{ book.author }}</td>
    <td>{{ book.price }}</td>

    <!-- Status cell -->
    <td>
        {% if not book.read %}
            Not read yet
        {% else %}
            Already read
        {% endif %}
    </td>

    <!-- Action button cell -->
    <td>

        {% if not book.read %}

            <!-- Button to change to 'read' -->
            <button class="btn btn-primary btn-sm"
                    hx-put="{% url 'update_read_status' book.id %}"
                    hx-target="closest tr"
                    hx-swap="outerHTML" >
                Mark as read
            </button>

        {% else %}

            <!-- Button to change to 'unread' -->
            <button class="btn btn-secondary btn-sm"
                    hx-put="{% url 'update_read_status' book.id %}"
                    hx-target="closest tr"
                    hx-swap="outerHTML" >
                Mark as unread
            </button>

        {% endif %}

        <!-- Delete button -->
        <button class="btn btn-danger btn-sm ms-3"
                hx-delete="{% url 'delete_book' book.id %}"
                hx-target="closest tr"
                hx-swap="outerHTML" >
            Delete
        </button>

    </td>

</tr>
