<tr class="{% if book.read %}grey-text{% endif %}">

    <!-- ID, title, author, and price cells -->
    <td class="align-middle text-center ps-2">{{ book.id }}</td>
    <td class="align-middle ps-2">{{ book.title }}</td>
    <td class="align-middle ps-2">{{ book.author }}</td>
    <td class="align-middle text-center">{{ book.price }}</td>

    <!-- Status cell -->
    <td class="align-middle text-center">

        {% if not book.read %}

            <button class="btn btn-primary btn-sm table-button status-button"
                    hx-put="{% url 'update_book_status' book.id %}"
                    hx-target="closest tr"
                    hx-swap="outerHTML" >
                Unread
            </button>

        {% else %}

            <button class="btn btn-secondary btn-sm table-button status-button"
                    hx-put="{% url 'update_book_status' book.id %}"
                    hx-target="closest tr"
                    hx-swap="outerHTML" >
                Read
            </button>

        {% endif %}

    </td>

    <!-- Action button cell -->
    <td class="align-middle text-center">

        <!-- Edit button -->
        <button class="btn btn-primary btn-sm table-button me-2"
                hx-put="{% url 'update_book_details' book.id %}"
                hx-target="closest tr"
                hx-swap="outerHTML" >
            Edit
        </button>

        <!-- Delete button -->
        <button class="btn btn-danger btn-sm table-button"
                hx-delete="{% url 'delete_book' book.id %}"
                hx-target="closest tr"
                hx-swap="outerHTML"
                hx-confirm="Are you sure you wish to delete this book?" >
            Delete
        </button>

    </td>

</tr>
